<a href="https://colab.research.google.com/github/dagobertomedeiros/parlamentares/blob/main/GASTOS_DEPUTADOS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
uri2008 = '/content/gdrive/My Drive/ARQUIVOS/Ano-2008.xlsx'
uri2009 = '/content/gdrive/My Drive/ARQUIVOS/Ano-2009.xlsx'
uri2010 = '/content/gdrive/My Drive/ARQUIVOS/Ano-2010.xlsx'
uri2011 = '/content/gdrive/My Drive/ARQUIVOS/Ano-2011.xlsx'
uri2012 = '/content/gdrive/My Drive/ARQUIVOS/Ano-2012.xlsx'
uri2013 = '/content/gdrive/My Drive/ARQUIVOS/Ano-2013.xlsx'
uri2014 = '/content/gdrive/My Drive/ARQUIVOS/Ano-2014.xlsx'
uri2015 = '/content/gdrive/My Drive/ARQUIVOS/Ano-2015.xlsx'
uri2016 = '/content/gdrive/My Drive/ARQUIVOS/Ano-2016.xlsx'
uri2017 = '/content/gdrive/My Drive/ARQUIVOS/Ano-2017.xlsx'
uri2018 = '/content/gdrive/My Drive/ARQUIVOS/Ano-2018.xlsx'
uri2019 = '/content/gdrive/My Drive/ARQUIVOS/Ano-2019.xlsx'
uri2020 = '/content/gdrive/My Drive/ARQUIVOS/Ano-2020.xlsx'
uri2021 = '/content/gdrive/My Drive/ARQUIVOS/Ano-2021.xlsx'

In [40]:
df2008 = pd.read_excel(uri2008)

TypeError: ignored

In [5]:
df2009 = pd.read_excel(uri2009)

In [6]:
df2010 = pd.read_excel(uri2010)

In [7]:
df2011 = pd.read_excel(uri2011)

In [8]:
df2012 = pd.read_excel(uri2012)

In [9]:
df2013 = pd.read_excel(uri2013)

In [10]:
df2014 = pd.read_excel(uri2014)

In [11]:
df2015 = pd.read_excel(uri2015)

In [12]:
df2016 = pd.read_excel(uri2016)

In [13]:
df2017 = pd.read_excel(uri2017)

In [14]:
df2018 = pd.read_excel(uri2018)

In [15]:
df2019 = pd.read_excel(uri2019)

In [16]:
df2020 = pd.read_excel(uri2020)

In [17]:
df2021 = pd.read_excel(uri2021)

In [39]:
df = pd.concat([df2008, df2009, df2010, df2011, df2012, df2013, df2014, df2015, df2016, df2017, df2018, df2019, df2020,df2021], ignore_index=True)

TypeError: ignored

In [20]:
df.head()

          txNomeParlamentar           cpf  ...  ideDocumento  urlDocumento
0           JOSEPH BANDEIRA  7.251603e+09  ...       1612380           NaN
1           JOSEPH BANDEIRA  7.251603e+09  ...       1561354           NaN
2              SILVIO COSTA  1.048139e+10  ...             0           NaN
3               ALDO REBELO  1.641215e+10  ...             0           NaN
4  ANTONIO CARLOS PANNUNZIO  1.895236e+10  ...             0           NaN

[5 rows x 31 columns]

In [22]:
df.describe()

                cpf   ideCadastro  ...  nuDeputadoId  ideDocumento
count  3.992037e+06  3.992547e+06  ...  3.998414e+06  3.998414e+06
mean   2.944292e+10  1.299843e+05  ...  2.002435e+03  2.836101e+06
std    2.668915e+10  4.477751e+04  ...  7.696064e+02  2.596573e+06
min    1.608657e+06  3.151000e+03  ...  1.200000e+01  0.000000e+00
25%    6.589236e+09  7.440500e+04  ...  1.563000e+03  0.000000e+00
50%    2.106286e+10  1.414880e+05  ...  1.944000e+03  1.830879e+06
75%    4.587748e+10  1.606530e+05  ...  2.409000e+03  5.710468e+06
max    9.989866e+10  2.153610e+05  ...  3.480000e+03  7.162378e+06

[8 rows x 19 columns]

In [38]:
df.dtypes

txNomeParlamentar             object
cpf                          float64
ideCadastro                  float64
nuCarteiraParlamentar        float64
nuLegislatura                  int64
sgUF                          object
sgPartido                     object
codLegislatura                 int64
numSubCota                     int64
txtDescricao                  object
numEspecificacaoSubCota        int64
txtDescricaoEspecificacao     object
txtFornecedor                 object
txtCNPJCPF                    object
txtNumero                     object
indTipoDocumento               int64
datEmissao                    object
vlrDocumento                 float64
vlrGlosa                     float64
vlrLiquido                   float64
numMes                         int64
numAno                         int64
numParcela                     int64
txtPassageiro                 object
txtTrecho                     object
numLote                        int64
numRessarcimento             float64
vlrRestituicao               float64
nuDeputadoId                   int64
ideDocumento                   int64
urlDocumento                  object
dtype: object

In [54]:
df[['vlrDocumento']].groupby(df.txtDescricao).sum().round(1)

                                                    vlrDocumento
txtDescricao
AQUISIÇÃO DE MATERIAL DE ESCRITÓRIO.                    566669.7
AQUISIÇÃO OU LOC. DE SOFTWARE; SERV. POSTAIS; ASS.      989247.4
ASSINATURA DE PUBLICAÇÕES                              2921841.0
COMBUSTÍVEIS E LUBRIFICANTES.                        200144295.5
CONSULTORIAS, PESQUISAS E TRABALHOS TÉCNICOS.        223834479.1
DIVULGAÇÃO DA ATIVIDADE PARLAMENTAR.                 513537118.4
FORNECIMENTO DE ALIMENTAÇÃO DO PARLAMENTAR            17195399.0
HOSPEDAGEM ,EXCETO DO PARLAMENTAR NO DISTRITO F...    21550350.6
LOCAÇÃO DE VEÍCULOS AUTOMOTORES OU FRETAMENTO D...    96343806.1
LOCAÇÃO OU FRETAMENTO DE AERONAVES                    20664730.7
LOCAÇÃO OU FRETAMENTO DE EMBARCAÇÕES                   1012173.8
LOCAÇÃO OU FRETAMENTO DE VEÍCULOS AUTOMOTORES        179931727.3
LOCOMOÇÃO, ALIMENTAÇÃO E  HOSPEDAGEM                   5589552.6
MANUTENÇÃO DE ESCRITÓRIO DE APOIO À ATIVIDADE P...   246273069.1
PARTICIPAÇÃO EM CURSO, PALESTRA OU EVENTO SIMILAR       603695.3
PASSAGEM AÉREA - REEMBOLSO                            46272082.9
PASSAGEM AÉREA - RPA                                 447512868.9
PASSAGEM AÉREA - SIGEPA                                  89373.5
PASSAGENS TERRESTRES, MARÍTIMAS OU FLUVIAIS             644400.3
SERVIÇO DE SEGURANÇA PRESTADO POR EMPRESA ESPEC...    15742550.3
SERVIÇO DE TÁXI, PEDÁGIO E ESTACIONAMENTO              5816252.9
SERVIÇOS POSTAIS                                      51436025.2
TELEFONIA                                            182668428.2